<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<script id="replace_with_navbar" src="nav.js"></script>


<h1>Contacts</h1>

<body>

    
    Phone: +353 873565915
    Phone <a href = "phoneto: +353 873565915" ></a>
    Email: onosenikhide1@gmail.com
    <a href = "mailto: onosenikhide1@gmail.com"> Email me</a>
    
    Linkedin: <a href="https://www.linkedin.com/in/onosen-ikhide"> Onosen Profile </a>
    

   
</body>




 <!-- have in nav.html file Another way to do: Navigation bar
 <div id="nav-placeholder">

 </div>

 <script>
 $(function(){
   $("#nav-placeholder").load("nav.html");
 });
 </script>




OR...

<embed type="text/html" src="my-menu.html">



 end of Navigation bar-->