<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    
</head>
<body>
   <!--  <div><h1>Home page</h1></div>
    <p>Hello {{ name }}! </p> -->

  <div class = " header" >  
    <h1>    Ono's Cv website </h1>  
    <input type="text" placeholder="Search..." name="query" class="search-input">
              
    <button type = "submit" class = "searchbutton">  </button>                                                  
  </div>  

  
  
  <nav>
    <!-- navbar -->
<!--put in links-->
<ul>
  <li class="dropdown">
    <a href="{{ url_for('views.CV') }}">CV</a>
    <ul class="dropdown-content">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
  </li>
    
    <li><a href ="{{ url_for('views.Projects')}}">Projects </a></li>
    <li><a href ="{{ url_for('views.Games')}}">Games </a></li>
    <li><a href ="{{ url_for('views.GitHub')}}">GitHub </a></li>
    <li><a href ="{{ url_for('views.Contact')}}">Contact </a></li>

</ul>




  </nav>

  <section class = "content">
    <div class = "content1"
    >
    content1</div>
    <div class = "content2"
    >content2</div>

</section> 
  <!--add main content-->

  <div class ="footer">
    <p><a href = "mailto: nesonoepisode@gmail.com"> Email me</a>
    <br>
   contact info 
   social media links 
   copyright
    <!--contact -->
</p>
  </div>


</body>
</html>